.text-shadow {
    text-shadow: 1px 1px 2px rgb(214, 115, 131);
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);*/
}

.flashes h4 {
    line-height: 3;
}

.reg-title  {
    color: #db4c7c;
}

.recipe-name {
    text-emphasis: emphasis;
}

.recipe-header {
     text-emphasis: emphasis;
}

.btn-edit,
.btn-delete {
    margin: 4px
}

.card-content {
    margin: 5px;
    line-height: 30px;
}

.my-muffins-intro {
    color: #ee7aa2;
    /* color: #db4c7c; */

}

.my-muffins-title {
    color: #929718;
    /* color:  #f8bbd0; */
}

.my-muffins-text {
    color: #929718;
    color: #929718;
}