.text-shadow {
    text-shadow: 1px 1px 2px rgb(214, 115, 131);
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);*/
}

.flashes h4 {
    line-height: 3;
}


.login-title {
    color: #f48fb1;
}

.reg-title  {
    color: #689f38;
}

.reg-page {
    background: url("../images/pic5.jpg") no-repeat center center fixed;
	background-size: cover;
	display: flex; 
    min-height: 100vh;
}

.reg-wrapper {
    background-color: white;
    margin-top: 7em;
    padding-left: 3em;
    padding-right: 3em;
}

.reg-main {
    margin-top: 2.5em;
}

.btn-edit,
.btn-delete {
    margin: 4px
}

.btn-delete-acct {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.recipe-header{
    font-weight: 300;
}

.card-content {
    margin: 5px;
    line-height: 30px;
}

.category {
    color: #252324;
}

.level {
    color: #252324;
}

.owner {
    color: #f33e7c;
}

.inside-crd {
    background-color: #ffecf6;
}

.ingredients {
    color: #595c1b;
}

.instructions {
    color: #595c1b;
}

.ingredients-text {
    color: #595c1b;
}

.instructions-text {
    color: #595c1b;
}


.my-muffins-intro {
     color: #ee7aa2;
}

.my-muffins-title {
    color: #595a53;
}

.fav-muffins {
    color: #ee7aa2;
}

.search-muffins-intro {
    color: #8f9595;
}

.my-muffins-text {
    color: #595a53;
    font-size: 1.2em;
}

.my-muffins-bottom-pic {
    height: 28em;
    margin-bottom: 4em;
    margin-top: 2em;
}

.my-account-text {
    color: #595a53;
    font-size: 1.5em;
}

.search-muffins-text { 
    color: #80817a;
    margin-bottom: 2em;
}

.search-icon {
    color: #ee7aa2; 
}

.search-btn {
    background-color: #ee7aa2; 
}

.reset-btn {
    background-color: #595a53;;
}

.add-muffin-title {
    color: #595a53;
}

.my-account-title {
    color: #737720;
}

.my-account-intro {
    color: #ec407a;
}

.add-recipe-form {
    background-color: #ee7aa20f;
}

.add-recipe-btn {
    margin-bottom: 3em;
    margin-top:2em;
}


.about-header {
    color: #ee7aa2;
}

.about-title {
    color: #595a53;
    font-size: large;
}

.about-text {
    color: #595a53;
    font-size: 1.3em;
}

.about-sect {
    background-color: #ee7aa214;
    padding-bottom: 2em;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}


.logo {
    height: 2em;
    padding-left: 1em;
    width:  6em;
}


.account-left-text {
    margin-top: 7em;
}

.account-right-text {
    margin-top: 7em;
}


.add-muffin-footer {
    margin-top: 3em;
    margin-bottom: 2em;
}

.account-container {
    height: 35em;
    margin-top: 3em;
}



@media screen and  (min-width: 1px) and (max-width: 800px) {


.btn-large {
    height: 50px;
    line-height: 15px;
    font-size: 9px;
    padding: 0 10px;
}

.my-account-text  {
    font-size: 1.2em;
    margin-top: 0;
}

.account-left-text {
    margin-top: 0;
}

.account-right-text {
    margin-left: 0;
    margin-top: 0;
}

.account-container {
    height: 20em;
    margin-top: 0;
}

.btn-delete-acct {
    padding-top: 2em;
    padding-bottom: 1em;
}

.my-muffins-bottom-pic {
    height: 20em;
    margin-bottom: 3em;
    margin-top: 3em;
}

.add-recipe-btn {
    margin-bottom: 3em;
    padding-top: 2em;
}



}