.text-shadow {
    text-shadow: 1px 1px 2px rgb(214, 115, 131);
    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);*/
}

.flashes h4 {
    line-height: 3;
}

.reg-title  {
    color: #db4c7c;
}

.recipe-name {
    text-emphasis: emphasis;
}

.recipe-header {
     text-emphasis: emphasis;
}

.btn-edit,
.btn-delete {
    margin: 4px
}

.recipe-header{
    font-weight: 350;
}

.card-content {
    margin: 5px;
    line-height: 30px;
}

.category {
    color: #252324;
    /* color: #615c5f; */
    /* color: #929718; */
}

.level {
    color: #252324;
    /* color: #615c5f; */
}

.owner {
    color: #f33e7c;
    /* color: #958120; */
    /* color:#b9b625; */
}

.inside-crd {
    background-color: #ffecf6;
	/* background-color: #f7fbf2; */
	/* background-color: #fef5f8
	background-color: #ffc7de */
}

.ingredients {
    color: #595c1b;
    /* color: #737720; */
}

.instructions {
    color: #595c1b;
    /* color: #737720; */
}

.ingredients-text {
    color: #595c1b;
     /* color: #737720; */
}

.instructions-text {
    color: #595c1b;
    /* color: #737720; */
}


.my-muffins-intro {
     color: #ee7aa2;
    /* color: #db4c7c; */
}

.my-muffins-title {
    color: #595a53;
    /* color: #737720; */
    /* color: #929718; */
    /* color:  #f8bbd0; */
}

.fav-muffins {
    color: #ee7aa2;
    /* color: #929718; */
}

.search-muffins-intro {
    color: #8f9595;
    /* color: #929718; */
}

.my-muffins-text {
    color: #595a53;
    /* color: #737720; */
    /* color: #929718; */
    font-size: 1.2em;
}

.my-muffins-bottom-pic {
    height: 30em;
    margin-bottom: 5em;
    margin-top: 3em;
}

.my-account-text {
    color: #595a53;
    /* color: #737720; */
    /* color: #929718; */
    font-size: 1.5em;
}

.search-muffins-text { 
    color: #80817a;
    margin-bottom: 2em;
    /* color: #737720; */
    /* color: #929718; */
}

.search-icon {
    color: #ee7aa2; 
}

.search-btn {
    background-color: #ee7aa2; 
}

.reset-btn {
    background-color: #595a53;;
    /* background-color: #929718; */
    /* background-color: #929718e0;  */
}

.add-muffin-title {
    color: #595a53;
    /* color: #8f9595;
    color: #959689;  */
    /* color: #929718; */
}

.my-account-title {
    color: #737720;
    /* color: #929718; */
    /* color: #8f9595; */
}

.my-account-intro {
    color: #ec407a;
    /* color: #ee7aa2; */
    /* color: #8f9595; */
    /* color: #929718; */
}

/* .btn-floating,
.add-recipe-btn {
    height: 120px;
    width: 180px;
    padding: 0;
} */

.add-recipe-form {
    background-color: #ee7aa20f;
}

.about-header {
    color: #ee7aa2;
}

.about-title {
    color: #595a53;
    /* color: #737720; */
    /* color: #929718; */
    font-size: large;
}

.about-text {
    color: #595a53;
    /* color: #737720; */
    font-size: 1.3em;
    /* color: #929718; */
}

.about-sect {
    background-color: #ee7aa214;
    padding-bottom: 2em;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
}


.logo {
    height: 2em;
    padding-left: 1em;
    width:  6em;
}

/* .account-left-pic {
    height: auto;
    width: 30em;
} */

.account-left-text {
    margin-top: 7em;
}

.account-right-text {
    /* margin-left: 1em; */
    margin-top: 7em;
}

/* 
.account-right-pic {
    height: auto;
    width: 30em;
} */

.add-muffin-footer {
    margin-top: 3em;
    margin-bottom: 2em;
}

account-container {
    height: 40em;
    margin-top: 2em;
}





@media screen and  (min-width: 1px) and (max-width: 800px) {

/* .my-muffins-title {
    font-size: 1.5em;
} */

/* h4 {
    font-size: 1.3em;
} */

.btn-large {
    height: 50px;
    line-height: 15px;
    font-size: 9px;
    padding: 0 10px;
    /* padding: 0; */
}

.my-account-text  {
    font-size: 1.2em;
    margin-top: 0;
}

.account-left-text {
    margin-top: 0;
}

.account-right-text {
    margin-left: 0;
    margin-top: 0;
}

.about-sect {
    /* padding-bottom: 2em;
    padding-top: 2em; */
}

account-container {
    height: 25em;
    margin-top: 0;
}



}