{% extends "base.html" %}
{% block content %}
        <br>
    <div class="parallax-container account-container container-fluid">
      <div class="parallax"><img class="responsive-img" src="../static/images/pic5.jpg"></div>
    </div>
    <div class="section white">
        <div class="row container">
                <br>
            <div class="col s12">
                <h4 class="center-align my-account-title">
                                Welcome to your account. You are logged in as:
                </h4>
                <h4 class="center-align my-account-intro"><i class="fas fa-user-alt pink-text text-lighten-1"></i> {{ username }} </h4>
            </div>
        </div>
    </div>

        <br>

    <div class="section">
        <div class="row card-panel pink lighten-5">
            <div class="col s4 center-align account-left-text">
                    <h4 class="my-account-text"> <i class="fas fa-mitten "></i> Add your own recipes here </h4>
                        <br>
                    <!-- ADD RECIPE BUTTON start -->
                        <button type="submit" class="btn-large pink pulse lighten-3 text-shadow add-recipe-btn">
                            <a href="{{ url_for('add_recipe') }}" class="add-recipe-btn white-text add-btn"><strong>ADD</strong></a>
                        </button>
                    <!-- /ADD RECIPE BUTTON end -->
            </div>

            <div class="col s8 ">
                <a href="" class="account-pic"><img class="responsive-img account-left-pic circle" src="../static/images/pic2.jpg"></a>
            </div>
        </div>

        <br>
        
        <div class="row card-panel light-green lighten-5">
            <div class="col s8">
                <a href="" class="account-pic"><img class="responsive-img account-right-pic circle" src="../static/images/pic1.jpg"></a>
            </div>

        <div class="col s4 center-align account-right-text">
                    <h4 class="my-account-text"> <i class="fas fa-pen"> </i> Or view and edit them here! </h4>
                <br>
                <!-- Redirect to My Muffins start -->
                        <button type="submit" class="btn-large pink pulse lighten-3 text-shadow add-recipe-btn">
                            <a href="{{ url_for('my_muffins') }}" class="add-recipe-btn white-text add-btn"><strong>My Muffins</strong></a>
                        </button>
                <!-- /Redirect to My Muffins end -->
            </div>
            
        </div>
            <br>
            <br>

    </div>


{% endblock %}