{% extends "base.html" %}
{% block content %}

    <!-- <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align my-account-intro">
                    Welcome to your account, {{ username }}
                </h3>
            </div>
        </div>
    </div> -->
    
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h3 class="center-align my-account-title">
                        Welcome to your account. You are logged in as:
            </h3>
            <h4 class="center-align my-account-intro"> {{ username }} </h4>
        </div>
    </div>

    <div class="col s12 center-align">
            <h4 class="my-account-text"> You can add your own recipes here: </h4>
    <br>
    <br>
            <!-- ADD RECIPE BUTTON start -->
                <button type="submit" class="btn-large pink lighten-3 text-shadow add-recipe-btn">
                    <a href="{{ url_for('add_recipe') }}" class="add-recipe-btn white-text"><strong>ADD YOUR RECIPE</strong></a>
                </button>
            <!-- /ADD RECIPE BUTTON end -->
    </div>
    <br>
    <br>


    




     
    



{% endblock %}