{% extends "base.html" %}
{% block content %}

    
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h3 class="center-align my-account-title">
                        Welcome to your account. You are logged in as:
            </h3>
            <h4 class="center-align my-account-intro"> {{ username }} </h4>
        </div>
    </div>

    <div class="col s12 center-align">
            <h4 class="my-account-text"> <i class="fas fa-mitten pink-text text-lighten-3"></i> You can add your own recipes here: <i class="fas fa-mitten pink-text text-lighten-3"></i> </h4>
    <br>
            <!-- ADD RECIPE BUTTON start -->
                <button type="submit" class="btn-large pink lighten-3 text-shadow add-recipe-btn">
                    <a href="{{ url_for('add_recipe') }}" class="add-recipe-btn white-text"><strong>ADD YOUR RECIPE</strong></a>
                </button>
            <!-- /ADD RECIPE BUTTON end -->
    </div>
    <br>
    <br>

    <div >
        <div class="row center-align">
            <div class="col s12">
                <div class="row center-align">
                    <div class="col">
                        <a href="" class="account-pic"><img class="account-pic" src="../static/images/pic1.jpg"></a>
                    </div>

                </div>

            </div>

        </div>

    </div>




    <!-- Redirect to My Muffins start -->
   <div class="col s12 center-align">
            <h4 class="my-account-text">  Or... Just jump straight in to view or edit your creations </h4>
    <br>
                <button type="submit" class="btn-large pink lighten-3 text-shadow add-recipe-btn">
                    <a href="{{ url_for('my_muffins') }}" class="add-recipe-btn white-text"><strong>My Muffins</strong></a>
                </button>
            
    </div>
    <br>
    <br>
    <!-- /Redirect to My Muffins end -->







     
    



{% endblock %}