{% extends "base.html" %}
{% block content %}

<br>
<br>
<h3 class="pink-text text-darken-4 center-align">Add your own muffin recipes</h3>
<br>
<br>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s6">
                    <i class="fas fa-user prefix pink-text text-lighten-3"></i>
                    <input id="f_name" name="f_name" type="text" class="validate" required>
                    <label for="f_name">First name</label>
                </div>
               
                <div class="input-field col s6">
                    <i class="fas fa-user prefix pink-text text-lighten-3"></i>
                    <input id="l_name" name="l_name" type="text" class="validate" required>
                    <label for="l_name">Last name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-cookie prefix pink-text text-lighten-3"></i>
                    <input id="r_recipe_name" name= "r_recipe_name" type="text" class="validate" required>
                    <label for="r_recipe_name">Recipe name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-carrot prefix pink-text text-lighten-3"></i>
                    <textarea id="r_ingredients" name="r_ingredients textarea" minlength="10" maxlength="600"
                            type="text" class="materialize-textarea validate" data-length="600" required></textarea>
                    <label for="r_ingredients">Recipe ingredients</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix pink-text text-lighten-3"></i>
                    <textarea id="r_instructions" name="r_instructions" minlength="10" maxlength="850"
                            type="text" class="materialize-textarea validate" data-length="850" required></textarea>
                    <label for="r_instructions">Recipe instructions</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensils prefix pink-text text-lighten-3"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected></option>
                            {% for category in categories %}
                            <option value="{{category.category_name}}">{{category.category_name}}</option>
                            {% endfor %}
                        </select>
                    <label for="category_name">Category</label>
                </div>
            </div>
            <!-- <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensils prefix pink-text text-lighten-3"></i>
                        <select id="r_category_name" name="r_category_name" type="text" class="validate" required>
                                <option value="" disabled selected class="text-muted"></option>
                                <option value="1">Sweet</option>
                                <option value="2">Savoury</option>
                        </select>
                    <label for="r_category_name">Sweet or Savoury</label>
                </div>
            </div> -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-grimace prefix pink-text text-lighten-3"></i>
                        <select id="difficulty_level" name="difficulty_level" class="validate" required>
                                <option value="" disabled selected></option>
                                {% for level in levels %}
                                <option value="{{level.difficulty_level}}">{{level.difficulty_level}}</option>
                                {% endfor %}
                        </select>
                    <label for="difficulty_level">Difficulty level</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-camera prefix pink-text text-lighten-3"></i>
                    <input value="https://www..." id="r_image" name= "r_image" type="text" class="validate" required>
                    <label class="active" for="r_image">Recipe image link</label>
                </div>
            </div>

            <div class="col s12 center-align">
                <button type="submit" class="btn-large pink lighten-3 text-shadow"><strong>ADD MUFFIN RECIPE</strong></button>

            </div>

            <br>
            <br>

        </form>
    </div>
        
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}