{% extends "base.html" %}
{% block content %}

<h3 class="pink-text text-darken-4 center-align">Add your own muffin recipes</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
        <div class="row">

            <div class="input-field col s12">
            <i class="fas fa-user prefix pink-text text-lighten-3"></i>
            <input id="icon_f_name" type="text" class="validate">
            <label for="icon_f_name">Name</label>
            </div>

            <div class="input-field col s12">
            <i class="fas fa-user-circle prefix pink-text text-lighten-3"></i>
            <input id="icon_alias" type="tel" class="validate">
            <label for="icon_alias">Alias</label>
            </div>

            <div class="input-field col s12">
            <i class="fas fa-envelope prefix pink-text text-lighten-3"></i>
            <input id="icon_email" type="tel" class="validate">
            <label for="icon_email">Email</label>
            </div>


        </div>
        </form>
    </div>
        

{% endblock %}