{% extends "base.html" %}
{% block content %}

<br>
<br>
<h3 class="pink-text text-darken-4 center-align">Edit your muffin recipe</h3>
<br>
<br>

    <div class="row card-panel grey lighten-5">
        <!-- EDIT RECIPE FORM START -->
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!-- EDIT RECIPE NAME -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-cookie prefix pink-text text-lighten-3"></i>
                    <input id="recipe_name" name= "recipe_name" value="{{ recipe.recipe_name }}" type="text" class="validate" required>
                    <label for="recipe_name">Recipe name</label>
                </div>
            </div>
            <!-- EDIT RECIPE INGREDIENTS -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-carrot prefix pink-text text-lighten-3"></i>
                    <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="10" maxlength="600"
                            type="text" class="materialize-textarea validate" data-length="600" required> {{- recipe.recipe_ingredients -}} </textarea>
                    <label for="recipe_ingredients">Recipe ingredients</label>
                </div>
            </div>
            <!-- EDIT RECIPE INSTRUCTIONS -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix pink-text text-lighten-3"></i>
                    <textarea id="recipe_instructions" name="recipe_instructions" minlength="10" maxlength="2000"
                            type="text" class="materialize-textarea validate" data-length="2000" required> {{- recipe.recipe_instructions -}} </textarea>
                    <label for="recipe_instructions">Recipe instructions</label>
                </div>
            </div>
            <!-- EDIT CATEGORY -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensils prefix pink-text text-lighten-3"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected></option>
                            {% for category in categories %}
                                {% if category.category_name == recipe.category_name %}
                                    <option value="{{ category.category_name }}" selected >{{ category.category_name }}</option>
                                {% else %}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    <label for="category_name">Category</label>
                </div>
            </div>

            <!-- EDIT DIFFICULTY LEVEL -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-grimace prefix pink-text text-lighten-3"></i>
                        <select id="recipe_difficulty" name="recipe_difficulty" class="validate" required>
                                <option value="" disabled selected></option>
                                {% for level in levels %}
                                    {% if level.recipe_difficulty == level.recipe_difficulty %}
                                        <option value="{{ level.recipe_difficulty }}" selected >{{ level.recipe_difficulty }}</option>
                                    {% else %}
                                        <option value="{{ level.recipe_difficulty }}">{{ level.recipe_difficulty }}</option>
                                    {% endif %}
                                {% endfor %}
                        </select>
                    <label for="recipe_difficulty">Level</label>
                </div>
            </div>

            <!-- EDIT RECIPE IMAGE -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-camera prefix pink-text text-lighten-3"></i>
                    <input value="{{ recipe.recipe_image }}" id="recipe_image" name= "recipe_image" minlength="20" type="text" class="validate" required>
                    <label class="active" for="recipe_image">Recipe image link</label>
                </div>
            </div>

            <!-- EDIT RECIPE BUTTON PANEL -->
            <div class="col s12 center-align">
                <!-- CANCEL BUTTON -->
                    <a href="{{ url_for('get_recipes') }}" class="btn-large teal darken-1 text-shadow"><strong>CANCEL</strong>
                        <i class="fas fa-times-circle left"></i></a>
                <!-- SUBMIT EDIT BUTTON -->
                <button type="submit" class="btn-large pink accent-4 text-shadow">
                    <strong>SUBMIT EDIT</strong><i class="fas fa-edit left"></i></button>
            </div>
            <br>
            <br>
        </form>

        <!-- EDIT RECIPE FORM END -->
    </div>
        
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}