{% extends "base.html" %}
{% block content %}

    <h3 class="center-align reg-title">Log In</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-cog prefix pink-text text-lighten-3"></i>
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username: 5-15 alphanumeric characters </label>
					</div>
                </div>

                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix pink-text text-lighten-3"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password: 5-15 alphanumeric characters </label>
                    </div>
                </div>

                <!-- log in -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large pink lighten-3 text-shadow">
                        Log In <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Are you a new user?
                <a href="{{ url_for('register') }}" class="yellow-text text-darken-4">New account registration</a>
            </p>
        </div>
    </div>

{% endblock %}