{% extends "base.html" %}
{% block content %}

<br>
<br>
    <h3 class="pink-text text-darken-4 center-align">My muffins</h3>
<br>
<br>

<div class="row">
    {% for recipe in recipes %}
        {% if session.user|lower == recipe.created_by|lower %}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img activator" src="{{recipe.recipe_image}}" alt= "{{ recipe.recipe_name }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator pink-text text-lighten-2 recipe-name">{{ recipe.recipe_name }}<i class="fas fa-angle-double-right right"> Recipe</i></span>
                            <p>{{ recipe.category_name }}</p>
                            <p>{{ recipe.recipe_difficulty }}</p>
                            <p><em>Created by: {{ recipe.created_by }}</em></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 recipe-header">{{ recipe.recipe_name }}<i class="fas fa-times right"></i>
                        </span>
                            <h5 class= "ingredients">Ingredients:</h5>
                                <p>{{ recipe.recipe_ingredients }}</p>

                            <h5 class="instructions">Instructions:</h5>
                                <p>{{ recipe.recipe_instructions }}</p>
                            <div class="row">
                                <div class="col-10">
                                    <!-- <div class="row"> -->
                                        <div class="col delete-recipe">
                                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small btn-edit pink darken-2 text-shadow">DELETE</a>
                                        <!-- </div> -->
                                        <!-- <div class="col edit-recipe"> -->
                                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small btn-delete cyan accent-4 text-shadow"><strong>EDIT</strong></a>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}