{% extends "base.html" %}
{% block content %}

<!-- start of my muffins section header-->
    <h3 class="my-muffins-title center-align"><i class="fas fa-grin-stars prefix"></i>  My muffins</h3>

<div class="my-muffins-header">
    <div class="row">
        <div class="col">
            <h5 class="my-muffins-intro center-align">
                 <strong>  Welcome to your Muffin-Tastic creations, {{ username }} 
                 </strong>
            </h5>
            <br>
            <div class="col my-muffins-text">

                <p> On this page you will find all the muffin recipes that you have uploaded to the site, 
                    so that you can easily access all your contributions.  You can also edit* or delete any of them if you wish. </p>
                <p> Of course, feel free to add many more yummy recipes for others to try out! Because, 
                    as we like to say here...There can never be too many muffins in the world! </p>
                <p><i> * In order to edit or delete a recipe, just access the card by clicking it as usual </i></p>

            </div>
        </div>
    </div>
</div>
<!-- end of my muffins section header-->

<!-- start of my muffins recipes created by logged in user -->
<div class="row">
    {% for recipe in recipes %}
        {% if session.user|lower == recipe.created_by|lower %}
        <div class="col s12 m6 l4">
            <div class="card large lime lighten-5">
                <!-- start of front of muffin cards -->
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="responsive-img activator" src="{{recipe.recipe_image}}" alt= "{{ recipe.recipe_name }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator pink-text text-lighten-2 recipe-name">{{ recipe.recipe_name }}<i class="fas fa-angle-double-right right"></i></span>
                        <p class="category">{{ recipe.category_name }}</p>
                        <p class="level">{{ recipe.recipe_difficulty }}</p>
                        <p class="owner"><em>Author: {{ recipe.created_by }}</em></p>
                </div>
                <!-- end of front of muffin cards -->
                <!-- start of muffin card inside reveal -->
                <div class="card-reveal inside-crd">
                    <span class="card-title pink-text text-darken-5 recipe-header">{{ recipe.recipe_name }}<i class="fas fa-times right"></i>
                    </span>
                    <br>
                    <hr id="divider1">
                        <h5 class= "ingredients"><i class="pink-text fas fa-carrot"></i> Ingredients:</h5>
                            <p class= "ingredients-text">{{ recipe.recipe_ingredients }}</p>
                    <br>
                    <hr class="divider2">
                        <h5 class="instructions"><i class="pink-text fas fa-tasks"></i> Instructions:</h5>
                            <p class= "instructions-text">{{ recipe.recipe_instructions }}</p>
                    <br>
                    <hr class="divider3">
                    <br>
                    <!-- start of edit and delete muffin  -->
                        <div class="row">
                            <div class="col s12">
                                    <div class="col delete-recipe">
                                        {% if session.user|lower == recipe.created_by|lower %}
                                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small btn-edit pink darken-2 text-shadow">DELETE</a>
                
                                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small btn-delete cyan accent-4 text-shadow"><strong>EDIT</strong></a>
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    <!-- end of edit and delete muffin  -->
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
<!-- end of my muffins recipes created by logged in user -->

<!-- ADD RECIPE -->
            <div class="col s12 center-align">
                <div class="btn-large pink pulse lighten-3 text-shadow add-recipe-btn">
                    <a href="{{ url_for('add_recipe') }}" class="add-recipe-btn white-text"><strong>ADD</strong></a>
                </div>
            </div>
<!-- /END OF ADD RECIPE-->

<!-- start of image  -->
<div class="parallax-container container-fluid my-muffins-bottom-pic">
    <div class="parallax"><img class="responsive-img" src="../static/images/pic6.jpg" alt="image of colourful muffins"></div>
</div>
<!-- end of image  -->
{% endblock %}