{% extends "base.html" %}
{% block content %}

<!-- Start of 'About' section -->

<div class="about">
        <br>
        <br>
    <div class="row  center-align">
        <div class="col s12 m12 l12">
            <h3 class="about-header"> Welcome to Muffin-Tastic</h3>
        </div>
    </div>

</div>

<div class="row center-align about-sect">
    <div class="col s12">
        <h5 class="about-title center-align"> <b> </b></h5>
            <p class="about-text center-align"> This is a recipe site exclusively dedicated to muffins, where you can be a part of the action.</p>
                            
            <p class="about-text center-align">You can browse our recipes, find your favourites
                            or add your own to contribute to this collection of yummy goodness! </strong></p>
                        
                <br>
        <h5 class="about-text center-align"><b> So what are you waiting for? Take a look around </b></h5>
                <br>
    </div>
</div>

          

    <!-- <div class="container">  -->
        <div class="carousel carousel-slider" id="muffin-carousel-auto" data-indicators="true">
            <a class="carousel-item" href="#one!"><img src="../static/images/car1.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="../static/images/car2.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="../static/images/car3.jpg"></a>
            <a class="carousel-item" href="#four!"><img src="../static/images/car4.jpg"></a>
            <a class="carousel-item" href="#five!"><img src="../static/images/car5.jpg"></a>
        </div>
    <!-- </div>  -->
<!-- </div> -->

<br>

<!--./ end of 'About' section -->


<!-- Start of all muffin db search-->

<div class="search-muffins-header">
    <div class="row center-align">
        <div class="col s10 m8">
            <br>
            <h5 class="search-muffins-intro center-align">
                 <strong> Muffin search:
                 </strong>
            </h5>
        </div>

        <div class="row card-panel grey lighten-5">
            <form action="{{ url_for('search') }}" method="post" class="col s12">
                <div class="row valign-wrapper center-align">
                    <div class="input-field col s12 m8 search-icon">
                        <i class="fas fa-search search-icon prefix"></i>
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Name or ingredient</label>
                    </div>

                    <div class="col s12 m4">
                        <button type="submit" class="search-btn btn text-shadow"> FIND</button>
                        <a href="{{ url_for('get_recipes') }}" class="reset-btn btn text-shadow">  X  </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--./ end of muffin search-->

<br>
    <h3 class="center-align fav-muffins">Our favourites</h3>
<br>

<!-- start of featured muffins section -->

    <div class="col search-muffins-text center-align">
        <h5>Or...you can find a selection of our all-time favourites below to spark your interest!</h5>
    </div>

    <br>
    <br>
    <br>

<div class="row">
    {% for recipe in recipes %}
        <div class="col s12 m6 l4">
            <div class="card large lime lighten-5">

                <div class="card-image waves-effect waves-block waves-light">
                    <img class="responsive-img activator" src="{{recipe.recipe_image}}" alt= "{{ recipe.recipe_name }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator pink-text text-lighten-2 recipe-name">{{ recipe.recipe_name }}<i class="fas fa-angle-double-right right"></i></span>
                        <p class="category">{{ recipe.category_name }}</p>
                        <p class="level">{{ recipe.recipe_difficulty }}</p>
                        <p class="owner"><em>Author: {{ recipe.created_by }}</em></p>
                </div>

                <div class="card-reveal inside-crd">
                    <span class="card-title pink-text text-darken-5 recipe-header">{{ recipe.recipe_name }}<i class="fas fa-times right"></i>
                    </span>
                        <h5 class= "ingredients">Ingredients:</h5>
                            <p class= "ingredients-text">{{ recipe.recipe_ingredients }}</p>

                        <h5 class="instructions">Instructions:</h5>
                            <p class= "instructions-text">{{ recipe.recipe_instructions }}</p>

                        <div class="row">
                            <div class="col s12">
                                <!-- <div class="row"> -->
                                    <div class="col delete-recipe">
                                        {% if session.user|lower == recipe.created_by|lower %}
                                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small btn-edit pink darken-2 text-shadow">DELETE</a>
                                    <!-- </div> -->
                                    <!-- <div class="col edit-recipe"> -->
                                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small btn-delete cyan accent-4 text-shadow"><strong>EDIT</strong></a>
                                    <!-- </div> -->
                                        {% endif %}
                                </div>
                            </div>

                        </div>

                </div>
            </div>
        </div>
    {% endfor %}
</div>


<br>
    <h4 class="center-align search-muffins-text">Feeling inspired? Why not add your own? </h4>
<br>
<br>

<!-- ADD RECIPE BUTTON start -->
            <div class="col s12 center-align">
                <button type="submit" class="btn-large pulse pink lighten-3 text-shadow add-recipe-btn">
                    {% if session.user %}   
                    <a href="{{ url_for('add_recipe') }}" class="add-recipe-btn white-text"><strong>ADD MUFFIN</strong></a>
                    {% else %}
                    <a href="{{ url_for('login') }}" class="add-recipe-btn white-text"><strong>ADD MUFFIN</strong></a>
                    {% endif %}
                </button>
            </div>

<!-- /ADD RECIPE BUTTON end -->

<br>
<br>
<br>


{% endblock %}