{% extends "base.html" %}
{% block content %}

        {% for recipe in recipes %}
            {{ recipe.recipe_name }}<br>
            {{ recipe.category_name }}<br>
            {{ recipe.recipe_description }}<br>
            {{ recipe.is_easy }}<br>
        {% endfor %}

    <h3 class="pink-text text-darken-4 center-align">Find your favourite muffins</h3>

<!-- Start of muffin search-->
    <div class="row">

        <!-- PENDING -->

    </div>
<!--./ end of muffin search-->

<!-- start of featured muffins section -->
<div class="row">

        <div class="col s12 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/choc-muffin.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator pink-text text-lighten-2 recipe-name">Chocolate muffins<i class="fas fa-angle-double-right right"> Recipe</i></span>
                        <p><a href="#"></a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Chocolate Muffins<i class="fas fa-times right">  </i>
                    </span>
                        <h5>Ingredients:</h5>
                            <p>   
                            2 large eggs
                            240 ml low fat buttermilk
                            2 teaspoons vanilla extract
                            220 grams all-purpose flour, spooned into measuring cup and leveled-off
                            60 grams natural unsweetened cocoa powder, such as Hershey's
                            270 grams light brown sugar, packed (be sure it is fresh with no hard lumps)
                            1 teaspoon baking powder
                            1 teaspoon baking soda
                            1/2 teaspoon salt
                            155 grams semi-sweet or bittersweet chocolate chips
                            113 grams unsalted butter, melted and slightly cooled
                            </p>

                        <h5>Instructions:</h5>
                            <p>
                            Position a rack in the center of the oven and preheat to 220°C. Line a standard 12-cup muffin pan with paper liners.
                            In a large measuring cup or bowl, whisk together the eggs, buttermilk, and vanilla extract.
                            In another large bowl, whisk together the flour, cocoa powder, brown sugar, baking powder, baking soda, and salt. Rub the mixture through your fingers to break up any lumps of brown sugar.
                            To the dry ingredients, add 3/4 cup of the chocolate chips, the buttermilk-egg mixture, and the melted butter. Using a rubber spatula or wooden spoon, mix until until just combined.
                            Using an ice cream scoop or two spoons, fill the muffin cups to the brim with batter. Distribute the remaining 1/4 cup of chocolate chips evenly over the muffin tops, pressing them lightly into the batter. Place in the oven and bake for 8 minutes, then turn the oven down to 175°C and bake for about 12 minutes more, or until a toothpick inserted in the center of a muffin comes out clean (check a few spots as the melted chocolate chips will make the tester look wet). Transfer to a wire rack and let cool for about 5 minutes before removing the muffins from the pan; cool on a rack.
                            </p>
                </div>
            </div>
    </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/choc-muffin.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Calling all chocoholics! These tender chocolate muffins make a delicious breakfast or snack<i class="material-icons right">Click for recipe</i></span>
                        <p><a href="#">link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Chocolate Muffins<i class="material-icons right">close</i>
                    </span>
                        <h5>Ingredients:</h5>
                            <p>   
                            2 large eggs
                            240 ml low fat buttermilk
                            2 teaspoons vanilla extract
                            220 grams all-purpose flour, spooned into measuring cup and leveled-off
                            60 grams natural unsweetened cocoa powder, such as Hershey's
                            270 grams light brown sugar, packed (be sure it is fresh with no hard lumps)
                            1 teaspoon baking powder
                            1 teaspoon baking soda
                            1/2 teaspoon salt
                            155 grams semi-sweet or bittersweet chocolate chips
                            113 grams unsalted butter, melted and slightly cooled
                            </p>

                        <h5>Instructions:</h5>
                            <p>
                            Position a rack in the center of the oven and preheat to 220°C. Line a standard 12-cup muffin pan with paper liners.
                            In a large measuring cup or bowl, whisk together the eggs, buttermilk, and vanilla extract.
                            In another large bowl, whisk together the flour, cocoa powder, brown sugar, baking powder, baking soda, and salt. Rub the mixture through your fingers to break up any lumps of brown sugar.
                            To the dry ingredients, add 3/4 cup of the chocolate chips, the buttermilk-egg mixture, and the melted butter. Using a rubber spatula or wooden spoon, mix until until just combined.
                            Using an ice cream scoop or two spoons, fill the muffin cups to the brim with batter. Distribute the remaining 1/4 cup of chocolate chips evenly over the muffin tops, pressing them lightly into the batter. Place in the oven and bake for 8 minutes, then turn the oven down to 175°C and bake for about 12 minutes more, or until a toothpick inserted in the center of a muffin comes out clean (check a few spots as the melted chocolate chips will make the tester look wet). Transfer to a wire rack and let cool for about 5 minutes before removing the muffins from the pan; cool on a rack.
                            </p>
                </div>
            </div>
    </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/choc-muffin.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Calling all chocoholics! These tender chocolate muffins make a delicious breakfast or snack<i class="material-icons right">Click for recipe</i></span>
                        <p><a href="#">link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Chocolate Muffins<i class="material-icons right">close</i>
                    </span>
                        <h5>Ingredients:</h5>
                            <p>   
                            2 large eggs
                            240 ml low fat buttermilk
                            2 teaspoons vanilla extract
                            220 grams all-purpose flour, spooned into measuring cup and leveled-off
                            60 grams natural unsweetened cocoa powder, such as Hershey's
                            270 grams light brown sugar, packed (be sure it is fresh with no hard lumps)
                            1 teaspoon baking powder
                            1 teaspoon baking soda
                            1/2 teaspoon salt
                            155 grams semi-sweet or bittersweet chocolate chips
                            113 grams unsalted butter, melted and slightly cooled
                            </p>

                        <h5>Instructions:</h5>
                            <p>
                            Position a rack in the center of the oven and preheat to 220°C. Line a standard 12-cup muffin pan with paper liners.
                            In a large measuring cup or bowl, whisk together the eggs, buttermilk, and vanilla extract.
                            In another large bowl, whisk together the flour, cocoa powder, brown sugar, baking powder, baking soda, and salt. Rub the mixture through your fingers to break up any lumps of brown sugar.
                            To the dry ingredients, add 3/4 cup of the chocolate chips, the buttermilk-egg mixture, and the melted butter. Using a rubber spatula or wooden spoon, mix until until just combined.
                            Using an ice cream scoop or two spoons, fill the muffin cups to the brim with batter. Distribute the remaining 1/4 cup of chocolate chips evenly over the muffin tops, pressing them lightly into the batter. Place in the oven and bake for 8 minutes, then turn the oven down to 175°C and bake for about 12 minutes more, or until a toothpick inserted in the center of a muffin comes out clean (check a few spots as the melted chocolate chips will make the tester look wet). Transfer to a wire rack and let cool for about 5 minutes before removing the muffins from the pan; cool on a rack.
                            </p>
                </div>
            </div>
    </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/choc-muffin.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Calling all chocoholics! These tender chocolate muffins make a delicious breakfast or snack<i class="material-icons right">Click for recipe</i></span>
                        <p><a href="#">link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Chocolate Muffins<i class="material-icons right">close</i>
                    </span>
                        <h5>Ingredients:</h5>
                            <p>   
                            2 large eggs
                            240 ml low fat buttermilk
                            2 teaspoons vanilla extract
                            220 grams all-purpose flour, spooned into measuring cup and leveled-off
                            60 grams natural unsweetened cocoa powder, such as Hershey's
                            270 grams light brown sugar, packed (be sure it is fresh with no hard lumps)
                            1 teaspoon baking powder
                            1 teaspoon baking soda
                            1/2 teaspoon salt
                            155 grams semi-sweet or bittersweet chocolate chips
                            113 grams unsalted butter, melted and slightly cooled
                            </p>

                        <h5>Instructions:</h5>
                            <p>
                            Position a rack in the center of the oven and preheat to 220°C. Line a standard 12-cup muffin pan with paper liners.
                            In a large measuring cup or bowl, whisk together the eggs, buttermilk, and vanilla extract.
                            In another large bowl, whisk together the flour, cocoa powder, brown sugar, baking powder, baking soda, and salt. Rub the mixture through your fingers to break up any lumps of brown sugar.
                            To the dry ingredients, add 3/4 cup of the chocolate chips, the buttermilk-egg mixture, and the melted butter. Using a rubber spatula or wooden spoon, mix until until just combined.
                            Using an ice cream scoop or two spoons, fill the muffin cups to the brim with batter. Distribute the remaining 1/4 cup of chocolate chips evenly over the muffin tops, pressing them lightly into the batter. Place in the oven and bake for 8 minutes, then turn the oven down to 175°C and bake for about 12 minutes more, or until a toothpick inserted in the center of a muffin comes out clean (check a few spots as the melted chocolate chips will make the tester look wet). Transfer to a wire rack and let cool for about 5 minutes before removing the muffins from the pan; cool on a rack.
                            </p>
                </div>
            </div>
    </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/choc-muffin.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Calling all chocoholics! These tender chocolate muffins make a delicious breakfast or snack<i class="material-icons right">Click for recipe</i></span>
                        <p><a href="#">link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Chocolate Muffins<i class="material-icons right">close</i>
                    </span>
                        <h5>Ingredients:</h5>
                            <p>   
                            2 large eggs
                            240 ml low fat buttermilk
                            2 teaspoons vanilla extract
                            220 grams all-purpose flour, spooned into measuring cup and leveled-off
                            60 grams natural unsweetened cocoa powder, such as Hershey's
                            270 grams light brown sugar, packed (be sure it is fresh with no hard lumps)
                            1 teaspoon baking powder
                            1 teaspoon baking soda
                            1/2 teaspoon salt
                            155 grams semi-sweet or bittersweet chocolate chips
                            113 grams unsalted butter, melted and slightly cooled
                            </p>

                        <h5>Instructions:</h5>
                            <p>
                            Position a rack in the center of the oven and preheat to 220°C. Line a standard 12-cup muffin pan with paper liners.
                            In a large measuring cup or bowl, whisk together the eggs, buttermilk, and vanilla extract.
                            In another large bowl, whisk together the flour, cocoa powder, brown sugar, baking powder, baking soda, and salt. Rub the mixture through your fingers to break up any lumps of brown sugar.
                            To the dry ingredients, add 3/4 cup of the chocolate chips, the buttermilk-egg mixture, and the melted butter. Using a rubber spatula or wooden spoon, mix until until just combined.
                            Using an ice cream scoop or two spoons, fill the muffin cups to the brim with batter. Distribute the remaining 1/4 cup of chocolate chips evenly over the muffin tops, pressing them lightly into the batter. Place in the oven and bake for 8 minutes, then turn the oven down to 175°C and bake for about 12 minutes more, or until a toothpick inserted in the center of a muffin comes out clean (check a few spots as the melted chocolate chips will make the tester look wet). Transfer to a wire rack and let cool for about 5 minutes before removing the muffins from the pan; cool on a rack.
                            </p>
                </div>
            </div>
    </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/choc-muffin.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Calling all chocoholics! These tender chocolate muffins make a delicious breakfast or snack<i class="material-icons right">Click for recipe</i></span>
                        <p><a href="#">link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Chocolate Muffins<i class="material-icons right">close</i>
                    </span>
                        <h5>Ingredients:</h5>
                            <p>   
                            2 large eggs
                            240 ml low fat buttermilk
                            2 teaspoons vanilla extract
                            220 grams all-purpose flour, spooned into measuring cup and leveled-off
                            60 grams natural unsweetened cocoa powder, such as Hershey's
                            270 grams light brown sugar, packed (be sure it is fresh with no hard lumps)
                            1 teaspoon baking powder
                            1 teaspoon baking soda
                            1/2 teaspoon salt
                            155 grams semi-sweet or bittersweet chocolate chips
                            113 grams unsalted butter, melted and slightly cooled
                            </p>

                        <h5>Instructions:</h5>
                            <p>
                            Position a rack in the center of the oven and preheat to 220°C. Line a standard 12-cup muffin pan with paper liners.
                            In a large measuring cup or bowl, whisk together the eggs, buttermilk, and vanilla extract.
                            In another large bowl, whisk together the flour, cocoa powder, brown sugar, baking powder, baking soda, and salt. Rub the mixture through your fingers to break up any lumps of brown sugar.
                            To the dry ingredients, add 3/4 cup of the chocolate chips, the buttermilk-egg mixture, and the melted butter. Using a rubber spatula or wooden spoon, mix until until just combined.
                            Using an ice cream scoop or two spoons, fill the muffin cups to the brim with batter. Distribute the remaining 1/4 cup of chocolate chips evenly over the muffin tops, pressing them lightly into the batter. Place in the oven and bake for 8 minutes, then turn the oven down to 175°C and bake for about 12 minutes more, or until a toothpick inserted in the center of a muffin comes out clean (check a few spots as the melted chocolate chips will make the tester look wet). Transfer to a wire rack and let cool for about 5 minutes before removing the muffins from the pan; cool on a rack.
                            </p>
                </div>
            </div>
    </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/choc-muffin.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Calling all chocoholics! These tender chocolate muffins make a delicious breakfast or snack<i class="material-icons right">Click for recipe</i></span>
                        <p><a href="#">link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Chocolate Muffins<i class="material-icons right">close</i>
                    </span>
                        <h5>Ingredients:</h5>
                            <p>   
                            2 large eggs
                            240 ml low fat buttermilk
                            2 teaspoons vanilla extract
                            220 grams all-purpose flour, spooned into measuring cup and leveled-off
                            60 grams natural unsweetened cocoa powder, such as Hershey's
                            270 grams light brown sugar, packed (be sure it is fresh with no hard lumps)
                            1 teaspoon baking powder
                            1 teaspoon baking soda
                            1/2 teaspoon salt
                            155 grams semi-sweet or bittersweet chocolate chips
                            113 grams unsalted butter, melted and slightly cooled
                            </p>

                        <h5>Instructions:</h5>
                            <p>
                            Position a rack in the center of the oven and preheat to 220°C. Line a standard 12-cup muffin pan with paper liners.
                            In a large measuring cup or bowl, whisk together the eggs, buttermilk, and vanilla extract.
                            In another large bowl, whisk together the flour, cocoa powder, brown sugar, baking powder, baking soda, and salt. Rub the mixture through your fingers to break up any lumps of brown sugar.
                            To the dry ingredients, add 3/4 cup of the chocolate chips, the buttermilk-egg mixture, and the melted butter. Using a rubber spatula or wooden spoon, mix until until just combined.
                            Using an ice cream scoop or two spoons, fill the muffin cups to the brim with batter. Distribute the remaining 1/4 cup of chocolate chips evenly over the muffin tops, pressing them lightly into the batter. Place in the oven and bake for 8 minutes, then turn the oven down to 175°C and bake for about 12 minutes more, or until a toothpick inserted in the center of a muffin comes out clean (check a few spots as the melted chocolate chips will make the tester look wet). Transfer to a wire rack and let cool for about 5 minutes before removing the muffins from the pan; cool on a rack.
                            </p>
                </div>
            </div>
    </div>

        <div class="col s12 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/choc-muffin.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Calling all chocoholics! These tender chocolate muffins make a delicious breakfast or snack<i class="material-icons right">Click for recipe</i></span>
                        <p><a href="#">link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Chocolate Muffins<i class="material-icons right">close</i>
                    </span>
                        <h5>Ingredients:</h5>
                            <p>   
                            2 large eggs
                            240 ml low fat buttermilk
                            2 teaspoons vanilla extract
                            220 grams all-purpose flour, spooned into measuring cup and leveled-off
                            60 grams natural unsweetened cocoa powder, such as Hershey's
                            270 grams light brown sugar, packed (be sure it is fresh with no hard lumps)
                            1 teaspoon baking powder
                            1 teaspoon baking soda
                            1/2 teaspoon salt
                            155 grams semi-sweet or bittersweet chocolate chips
                            113 grams unsalted butter, melted and slightly cooled
                            </p>

                        <h5>Instructions:</h5>
                            <p>
                            Position a rack in the center of the oven and preheat to 220°C. Line a standard 12-cup muffin pan with paper liners.
                            In a large measuring cup or bowl, whisk together the eggs, buttermilk, and vanilla extract.
                            In another large bowl, whisk together the flour, cocoa powder, brown sugar, baking powder, baking soda, and salt. Rub the mixture through your fingers to break up any lumps of brown sugar.
                            To the dry ingredients, add 3/4 cup of the chocolate chips, the buttermilk-egg mixture, and the melted butter. Using a rubber spatula or wooden spoon, mix until until just combined.
                            Using an ice cream scoop or two spoons, fill the muffin cups to the brim with batter. Distribute the remaining 1/4 cup of chocolate chips evenly over the muffin tops, pressing them lightly into the batter. Place in the oven and bake for 8 minutes, then turn the oven down to 175°C and bake for about 12 minutes more, or until a toothpick inserted in the center of a muffin comes out clean (check a few spots as the melted chocolate chips will make the tester look wet). Transfer to a wire rack and let cool for about 5 minutes before removing the muffins from the pan; cool on a rack.
                            </p>
                </div>
            </div>
    </div>


            <div class="col s12 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/images/choc-muffin.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Calling all chocoholics! These tender chocolate muffins make a delicious breakfast or snack<i class="material-icons right">Click for recipe</i></span>
                        <p><a href="#">link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Chocolate Muffins<i class="fas fa-times"">close</i>
                    </span>
                        <h5>Ingredients:</h5>
                            <p>   
                            2 large eggs
                            240 ml low fat buttermilk
                            2 teaspoons vanilla extract
                            220 grams all-purpose flour, spooned into measuring cup and leveled-off
                            60 grams natural unsweetened cocoa powder, such as Hershey's
                            270 grams light brown sugar, packed (be sure it is fresh with no hard lumps)
                            1 teaspoon baking powder
                            1 teaspoon baking soda
                            1/2 teaspoon salt
                            155 grams semi-sweet or bittersweet chocolate chips
                            113 grams unsalted butter, melted and slightly cooled
                            </p>

                        <h5>Instructions:</h5>
                            <p>
                            Position a rack in the center of the oven and preheat to 220°C. Line a standard 12-cup muffin pan with paper liners.
                            In a large measuring cup or bowl, whisk together the eggs, buttermilk, and vanilla extract.
                            In another large bowl, whisk together the flour, cocoa powder, brown sugar, baking powder, baking soda, and salt. Rub the mixture through your fingers to break up any lumps of brown sugar.
                            To the dry ingredients, add 3/4 cup of the chocolate chips, the buttermilk-egg mixture, and the melted butter. Using a rubber spatula or wooden spoon, mix until until just combined.
                            Using an ice cream scoop or two spoons, fill the muffin cups to the brim with batter. Distribute the remaining 1/4 cup of chocolate chips evenly over the muffin tops, pressing them lightly into the batter. Place in the oven and bake for 8 minutes, then turn the oven down to 175°C and bake for about 12 minutes more, or until a toothpick inserted in the center of a muffin comes out clean (check a few spots as the melted chocolate chips will make the tester look wet). Transfer to a wire rack and let cool for about 5 minutes before removing the muffins from the pan; cool on a rack.
                            </p>
                </div>
            </div>
    </div>
{% endblock %}