{% extends "base_login.html" %}
{% block content %}

<section class="container-fluid reg-page" >
    <div class="row center-align reg-main">

        <div class="reg-wrapper">
            <div class="row center-align">
                
                <div class="col s12">
                    <h3 class="center-align reg-title">Register</h3>
                </div>


                <!-- <div class="row"> -->
                    <form class="col s12" method="POST" action="{{ url_for('register') }}">
                            <div class="card-panel">
                                <!-- username -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-user-plus prefix light-green-text text-darken-5"></i>
                                        <input id="username" name="username" type="text" minlength="5"
                                            maxlength="15" pattern="^[a-zA-Z0-9-_]{5,15}$" class="validate" required>
                                        <label for="username">Username: 5-15 characters</label>
                                    </div>
                                </div>

                                <!-- password -->
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="fas fa-user-lock prefix light-green-text text-darken-5"></i>
                                        <input id="password" name="password" type="password" minlength="5"
                                            maxlength="15" pattern="^[a-zA-Z0-9-_]{5,15}$" class="validate" required>
                                        <label for="password">Password: 5-15 characters</label>
                                    </div>
                                </div>

                                <!-- register -->
                                <div class="row">
                                    <button type="submit" class="col s12 btn-large light-green white-text text-darken-5">
                                        Register <i class="fas fa-sign-in-alt"></i>
                                    </button>
                                </div>
                            </div>
                    </form>
        

                    <div class="row">
                        <div class="col s12">
                            <p class="center-align">
                                If you have an account
                                <a href="{{ url_for('login') }}" class="pink-text text-lighten-3"><b>LOG IN HERE </b></a>
                            </p>
                        </div>
                    </div>
            </div>

        </div>
    
    </div>

</section>

{% endblock %}